@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom styles for the app */
body {
    font-family: 'Roboto', sans-serif;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}